
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <h3>Lista de Usuarios</h3>
                    <hr>

                    {% for profile in profile_list|dictsort:"id" reversed %}
                    <div class="row mt-3">
                        <div class="col-md-9 mx-auto">
                        <h2 class="mb-4">{{profile.username}}</h2>
                        <div>
                            <p>{{profile.aboutme|striptags|safe|truncatechars:"200"}}</p>
                            <p><a href="">Leer más</a>
                            {% if request.user.is_staff %}
                                | <a href="">Editar</a>
                                | <a href="">Borrar</a>
                            {% endif %}
                            </p>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}