
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-10 mx-auto mb-5">
                    <h3>Lista de Usuarios</h3>
                    <hr>
                    
                    <button class="btn btn-primary"><i class="fa fa-plus"></i> Agregar usuario</button>
                    <hr>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profile_list|dictsort:"id" %}
                                <tr>
                                    <td>{{ profile.user.id }}</td>
                                    <td>{{ profile.user.username }}</td>
                                    <td>{{ profile.user.email }}</td>
                                    <td>{{ profile.name }}</td>
                                    <td>{{ profile.lastname }}</td>
                                    <td>
                                        <a href="{% url 'profile' profile.user.username %}" title="Modificar" class="text-info"><i class="fa fa-pencil"></i></a>
                                        &nbsp;&nbsp;
                                        {% if not profile.user.is_staff %}
                                            <a href="% url 'delete' profile.pk %}" title="Eliminar" class="text-danger"><i class="fa fa-minus"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}