{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar Usuario{% endblock %}
{% block content %}

<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <h3>Eliminar Usuario</h3>
                <hr>

                <form method="post">{% csrf_token %}
                    <p>¿Confirma que deseas eliminar el usuario <strong>"{{ object.user.username }}"</strong>?</p>
                    <input type="submit" class="btn btn-danger mt-3" value="Si, eliminar">
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}